/*--------------------------------------------------------------
 font-face - Noto Sans
--------------------------------------------------------------*/

@mixin font {
  font-family: 'Noto Sans';
  font-style: normal;
}

@mixin font-weight($font-weight) {
  font-weight: $font-weight;
}

@font-face {
  @include font;
  @include font-weight(400);
  src: local('Noto Sans'),
       local('NotoSans'),
       url(../fonts/Noto_Sans/Noto-Sans.woff2) format('woff2'),
       url(../fonts/Noto_Sans/Noto-Sans.woff) format('woff'),
       url(../fonts/Noto_Sans/Noto-Sans.ttf) format('truetype');
}

@font-face {
  @include font;
  @include font-weight(700);
  src: local('Noto Sans Bold'),
       local('NotoSans-Bold'), 
       url(../fonts/Noto_Sans/Noto-Sans-Bold.woff2) format('woff2'),
       url(../fonts/Noto_Sans/Noto-Sans-Bold.woff) format('woff'),
       url(../fonts/Noto_Sans/Noto-Sans-Bold.ttf) format('truetype');
}