/*--------------------------------------------------------------
 font-face - Open Sans Condensed
--------------------------------------------------------------*/

@mixin font {
  font-family: 'Open Sans Condensed';
  font-style: normal;
}

@mixin font-weight($font-weight) {
  font-weight: $font-weight;
}

@font-face {
  @include font;
  @include font-weight(300);
  src: local('Open Sans Condensed Light'),
       local('OpenSansCondensed-Light'),
       url(common/fonts/Open_Sans_Condensed/Open-Sans-Condensed-Light.woff2) format('woff2'),
       url(common/fonts/Open_Sans_Condensed/Open-Sans-Condensed-Light.woff) format('woff'),
       url(common/fonts/Open_Sans_Condensed/Open-Sans-Condensed-Light.ttf) format('truetype');
}


@font-face {
  @include font;
  @include font-weight(700);
  src: local('Open Sans Condensed Bold'),
       local('OpenSansCondensed-Bold'),
       url(common/fonts/Open_Sans_Condensed/Open-Sans-Condensed-Bold.ttf) format('woff2'),
       url(common/fonts/Open_Sans_Condensed/Open-Sans-Condensed-Bold.woff) format('woff'),
       url(common/fonts/Open_Sans_Condensed/Open-Sans-Condensed-Bold.ttf) format('truetype');
}