/*----------------------------------------------
    form
-----------------------------------------------*/

@mixin form($extend: true) {
  @if $extend {
    @extend %form;
  } @else {
    & {
      position: relative;
      width: 100%;
    }
    
    & label {
      font-size: $default-size;
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
    }

    & textarea {
      max-width: 100%;
      height: 150px;
      resize: none;
    }
    
    & input[type=text],
    & input[type=email],
    & input[type=number],
    & input[type=password] {
      height: 50px;
    }

    & textarea,
    & input[type=url],
    & input[type=text],
    & input[type=email],
    & input[type=number],
    & input[type=password] {
      padding: 15px 20px;
      font-size: $default-size;
      font-family: inherit;
      background-color: $grey-100;
      border: 1px solid $grey-300;
      border-radius: 4px;

      &:focus { box-shadow: $z-depth; }
    }

    & button,
    & input[type=button],
    & input[type=submit] {
      @include btn;
      cursor: pointer;
      border: none;
    }

    & button:disabled:hover,
    & input[type=button]:disabled:hover,
    & input[type=submit]:disabled:hover {
      cursor: not-allowed;
      opacity: 0.75;
    }
    
    & button,
    & textarea,
    & input[type=url],
    & input[type=text],
    & input[type=email],
    & input[type=button],
    & input[type=number],
    & input[type=submit],
    & input[type=password] {
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    
    & ::placeholder {
      color: $grey-500;
      font-size: $default-size;
      text-transform: uppercase;
    }
  }
}

%form { @include form($extend: false); }

/*----------------------------------------------
    post-password-form
-----------------------------------------------*/

.post-password-form {
  @include form;
  padding: $card-padding_m;
  background-color: $card-color;
  box-shadow: $z-depth;

  & p {
    margin: 0 0 20px;
    text-align: center;

    &:last-of-type { margin: 0; }
  }
}

@media (min-width: $media-medium + 1) {
  .post-password-form {
    padding: $card-padding;

    & p { margin: 0 0 30px; }
  }
}

@media (max-width: $media-xsmall) {
  .post-password-form {

    & label, & input { display: block; }
    & input { margin: 20px auto 0 !important; }
  }
}

/*----------------------------------------------
    comment-form
-----------------------------------------------*/

.comment-form {
  @include form;

  & p {
    margin: 0 0 20px;

    &:last-of-type { margin: 0; }
  }

  & label {
    display: block;
    margin: 0 0 10px;
  }

  & textarea,
  & input:not([type=submit]) {
    width: 100%;
    max-width: 500px;
  }
}

@media (min-width: $media-medium + 1) {
  .comment-form { 
    & p { margin: 0 0 30px; }
  }
}

